html {
	-ms-touch-action: none;
}

ul,li {
	padding: 0;
	margin: 0;
	border: 0;
}
#wrapper {
	position: absolute;
	z-index: 1;
	top:47%;
	bottom: 9%;
	width: 100%;
	height: auto;
	overflow: hidden;
	background:  rgba(0, 0, 0, 0.9)
	
}
#scroller {
	position: absolute;
	z-index: 2;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width:100%;
	background:none;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

#scroller div {
	float:left;
	display:block;
	width:40%;
	height:30%;
	margin-top:0;
	background:none;
	font-size: 100%;
	margin-left:6%;
	background-position:top;
}
@media only screen and (min-width:768px) and (max-width:959px){
	#scroller div{
	float:left;
	display:block;
	width:20%;
	height:20%;
	margin-top:0;
	background:none;
	font-size: 100%;
	margin-left:6%;
	background-position:top;

}
#scroller{margin-left:7%;}
}
#scroller div p {
	color:white;
	text-align:center;
	font-weight: bold ;
	font-size: 110%;
	}

#scroller div input {
	width:50%;
	height:100%;
	margin-left:27%;
	outline:none;
	
}

#scroller a{text-decoration:none;}
/*right-async*/

#rightTotal #wrapper {
	position: absolute;
	z-index: 1;
	top:0;
	bottom: 9%;
	width: 100%;
	height: auto;
	background: none;
	overflow: hidden;
}

#rightTotal #wrapper #scroller {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width:100%;
	background:none;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

#rightTotal #wrapper #scroller div {
	width:100%;
	height:100%;
	background:none;
	font-size: 100%;
}
#rightTotal #wrapper #scroller div p {
	color:white;
	text-align:center;
	font-weight: bold ;
	font-size: 110%;
	}

#rightTotal #wrapper #scroller div input {
	width:100%;
	height:100%;
}