@charset "utf-8";
*{
	margin: 0;
	padding: 0;
}
body{
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	background-color:#FFF
}
 header{
	background:  rgba(0, 0, 0, .95);
	width:100%;
	top:0;
	height:9%;
	position:fixed;
	z-index:3;
}

footer{
	width:100%;
	height:9%;
		background:  rgba(0, 0, 0, .95);
	position:fixed;
	bottom:0;
	z-index:3;		
}
footer div{

	display:inline-block;
	float:left;
	width:20%;
	height:auto;
	background:none;	
}
footer div input{
	margin-left:25px;
	width:45%;
	height:65%;
	margin-top:13px;
	outline:none;
}
#back-btn{display:none;}

#back-btn {
	height:100%;
	float:left;
}
#title {
	height:100%;
	color:#FFF;
	margin:15px 0 0 10px}
#title img{
	display:inline-block;
	height:50%;
	position:relative;
}
#title0 {
	display:inline-block;
	top:2.5%;
	margin-left:2%;
}
#title0 p{
	font-size:110%;
	display:inline-block;
	}
.section{
	background:none;
}


.cartelera {
position:absolute;
background:none;
top:9%;
width:100%;
height:31.1%;
}
.cartelera .slider{
	width: 100%;
	height: 100%;
	position:absolute;
	overflow:hidden;
  }
.cartelera .slider div img{width:100%;height:75%;}
@media only screen and (min-width:768px) and (max-width:959px){.cartelera .slider div img{width:100%;height:62.5%;}
#title img{
	display:inline-block;
	height:100%;
	position:relative;
}

}
.header-1 {
	position:absolute;
	width:100%;
	height:7.1%;
	top:40%;
		background:  rgba(0, 0, 0, .95);

}
 #header-2{
	text-align:center;
	font-size:2em;
	color:white;
	height:100%;

}

 #page {
	margin:0% 0% 0% 2%;
	width:96%;
	height:100%;
	overflow:auto;
}



